/* Font-family for headers (Dosis) */
@font-face {
  font-family: 'Dosis-Regular';
  font-weight: normal;
  src: url('../fonts/dosis/Dosis-Regular.woff') format('woff'),
    url('../fonts/dosis/Dosis-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Light';
  font-weight: 300;
  src: url('../fonts/dosis/Dosis-Light.woff') format('woff'),
    url('../fonts/dosis/Dosis-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Medium';
  font-weight: 500;
  src: url('../fonts/dosis/Dosis-Medium.woff') format('woff'),
    url('../fonts/dosis/Dosis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Bold';
  font-weight: bold;
  src: url('../fonts/dosis/Dosis-Bold.woff') format('woff'),
    url('../fonts/dosis/Dosis-Bold.woff2') format('woff2');
}

/* Font-family for body text (Helvetica */
@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  src: url('../fonts/helvetica/Helvetica.woff') format('woff'),
    url('../fonts/helvetica/Helvetica.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Light';
  font-weight: 300;
  src: url('../fonts/helvetica/Helvetica-Light.woff') format('woff'),
    url('../fonts/helvetica/Helvetica-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Bold';
  font-weight: bold;
  src: url('../fonts/helvetica/Helvetica-Bold.woff') format('woff'),
    url('../fonts/helvetica/Helvetica-Bold.woff2') format('woff2');
}

:root {
  /* Color "Palette" */
  --white: #eeeeee;
  --gray: #a6a6a6;
  --black: #000000;
  --main: #162133;
  --accent-blue: #007edb;
  --accent-orange: #ff9432;

  /* Font Families */
  --font-header: 'Dosis-Bold', Verdana, sans-serif;
  --font-content: 'Helvetica', Arial, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: 3s;
}

.newsletter-section {
  height: 30vh;
  width: 100%;
}

.displayNone {
  display: none;
}

.sectionActive {
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.scrollKeeper {
  height: 1px;
  content: '';
}
