.double-height {
  height: 200vh;
}

section.grid-section .grid {
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 16.66666%);
    background: rgb(151, 41, 41);
}

section.grid-section .grid-item1 {
  background: url(/public/images/grid/Förslag1.jpg);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item2 {
  background: url(/public/images/grid/Förslag2.jpg);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item3 {
  background: url(/public/images/grid/Förslag3.jpg);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item4 {
  background: url(/public/images/grid/Förslag4.jpg);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item5 {
  background: url(/public/images/grid/Förslag_extra_miljö.png);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item6 {
  background: url(/public/images/grid/Bildpåinsidan3.png);
  background-size: cover;
  background-position: center;
}

section.grid-section .grid .expand {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  justify-content: start;
  align-items: center;
  /* background: rgb(0, 255, 21); */
}

section.grid-section .grid .expand button {
  border: none;
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: none;
  cursor: pointer;
}

section.grid-section .grid .expand button p {
  pointer-events: none;
  top: 0;
  position: relative;
  font-size: 1.6rem;
}

section.grid-section .grid .expand button img {
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  position: relative;
  transition: 2s;
}

@media (min-width: 800px) {
  section.grid-section .grid {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    background: black;
  }

  section.grid-section .grid .expand {
    display: none;
  }
}
