.double-height {
  height: 200vh;
}

section.grid-section .grid {
  display: grid;
  height: 200vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 16.66666%);
}

section.grid-section .grid-item1 {
  background-image: url('../images/bg/grid/1/Grid-image3.webp');
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item2 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item3 {
  background-image: url('../images/bg/grid/1/Grid-image4.webp');
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item4 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item5 {
  background-image: url('../images/bg/grid/1/Grid-image5.webp');
  background-size: cover;
  background-position: center;
}
section.grid-section .grid-item6 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}

/* Grid 1 Text Content */
.grid-item2 .text-box,
.grid-item4 .text-box,
.grid-item6 .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grid-section h2 {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.grid-section p {
  opacity: 0;
  margin-top: 0;
  animation: fadeIn 2s ease-in forwards;
}

/* Grid 2 Text Content */
.grid-item7 .text-box,
.grid-item9 .text-box,
.grid-item11 .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grid-section2 h2 {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.grid-section2 p {
  opacity: 0;
  margin-top: 0;
  animation: fadeIn 2s ease-in forwards;
}

/* Keyframe for animation  */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.opacity0 {
  opacity: 0;
}

section.grid-section .grid .expand {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  justify-content: start;
  align-items: center;
  /* background: rgb(0, 255, 21); */
}

section.grid-section .grid .expand button {
  border: none;
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: none;
  cursor: pointer;
}

section.grid-section .grid .expand button p {
  pointer-events: none;
  top: 0;
  position: relative;
  font-size: 1.6rem;
  margin: 0;
}

section.grid-section .grid .expand button img {
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  position: relative;
  transition: 2s;
}

@media (min-width: 800px) {
  section.grid-section .grid {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    background: black;
  }

  section.grid-section .grid .expand {
    display: none;
  }
}

/* Grid section 2 */

section.grid-section2 .grid {
  display: grid;
  height: 200vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 16.66666%);
}

section.grid-section2 .grid-item7 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}
section.grid-section2 .grid-item8 {
  background-image: url('../images/bg/grid/2/Interior-1.webp');
  background-size: cover;
  background-position: center;
}
section.grid-section2 .grid-item9 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}
section.grid-section2 .grid-item10 {
  background-image: url('../images/bg/grid/2/Interior-3.webp');
  background-size: cover;
  background-position: center;
}
section.grid-section2 .grid-item11 {
  background: var(--main);
  background-size: cover;
  background-position: center;
}
section.grid-section2 .grid-item12 {
  background-image: url('../images/bg/grid/2/Interior-2.webp');
  background-size: cover;
  background-position: center;
}

section.grid-section2 .grid .expand {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  justify-content: start;
  align-items: center;
  /* background: rgb(0, 255, 21); */
}

section.grid-section2 .grid .expand button {
  border: none;
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: none;
  cursor: pointer;
}

section.grid-section2 .grid .expand button p {
  pointer-events: none;
  top: 0;
  position: relative;
  font-size: 1.6rem;
  margin: 0;
}

section.grid-section2 .grid .expand button img {
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  position: relative;
  transition: 2s;
}

@media (min-width: 800px) {
  section.grid-section2 .grid {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    background: black;
  }

  section.grid-section2 .grid .expand {
    display: none;
  }
}
