/* Font-family for headers (Dosis) */
@font-face {
  font-family: 'Dosis-Regular';
  font-weight: normal;
  src: url('../fonts/dosis/Dosis-Regular.woff') format('woff'),
    url('../fonts/dosis/Dosis-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Light';
  font-weight: 300;
  src: url('../fonts/dosis/Dosis-Light.woff') format('woff'),
    url('../fonts/dosis/Dosis-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Medium';
  font-weight: 500;
  src: url('../fonts/dosis/Dosis-Medium.woff') format('woff'),
    url('../fonts/dosis/Dosis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Dosis-Bold';
  font-weight: bold;
  src: url('../fonts/dosis/Dosis-Bold.woff') format('woff'),
    url('../fonts/dosis/Dosis-Bold.woff2') format('woff2');
}

/* Font-family for body text (Helvetica */
@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  src: url('../fonts/helvetica/Helvetica.woff') format('woff'),
    url('../fonts/helvetica/Helvetica.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Light';
  font-weight: 300;
  src: url('../fonts/helvetica/Helvetica-Light.woff') format('woff'),
    url('../fonts/helvetica/Helvetica-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Bold';
  font-weight: bold;
  src: url('../fonts/helvetica/Helvetica-Bold.woff') format('woff'),
    url('../fonts/helvetica/Helvetica-Bold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica';
}

header {
  height: 5vh;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #162133;
  color: #eeeeee;
}

section {
  width: 100%;
  padding: 0% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: none;
  background-color: #007edb;
  height: 100vh;
}

section:nth-child(2n) {
  background-color: #162133;
}

.hero {
  height: 95vh;
}

h1 {
  width: 100%;
  font-size: 3rem;
  color: #eeeeee;
  font-weight: 600;
  animation: left-right 3s ease;
}

@keyframes left-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

a {
  color: #eeeeee;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

a:hover {
  opacity: 0.5;
}
