.newsletter {
  height: 6rem;
  width: 85%;
  background: #162133c5;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  position: absolute;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 11px 10px 52px -12px rgba(0, 0, 0, 0.75);
  border: none;
}

.content-box-container {
  bottom: 55%;
  justify-content: center;
  align-items: center;
}

.newsletter .upper-half {
  padding: 0 1rem;
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
}

.newsletter .upper-half p {
  color: var(--white);
}

.newsletter .lower-half {
  position: relative;
  height: 3rem;
  display: flex;
  flex-direction: row;
  border: 0;
  padding: 0;
}

.newsletter .lower-half .email {
  width: 70%;
}

.newsletter .lower-half .email input {
  padding-left: 1rem;
  padding-right: 0;
  width: 100%;
  height: 100%;
  background: #e9e9e9c5;
  backdrop-filter: blur(3px);
  border: 0;
  padding: 0;
}

.newsletter .lower-half .submit {
  /* padding-left: 1rem; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-orange);
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  font-family: var(--font-content);
}

.newsletter .lower-half .submit:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

@media (min-width: 700px) {
  .newsletter {
    width: 25%;
    left: 65%;
  }
}
