section.section-1 .newsletter {
    height: 8rem;
    width: 25rem;
    background: #162133c5;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    position: absolute;
    right: 10%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Helvetica; 
    box-shadow: 11px 10px 52px -12px rgba(0,0,0,0.75);
    
}

section.section-1 .newsletter .upper-half{
    padding: 0 1rem;
    position: relative;
    height: 4rem;
}

section.section-1 .newsletter .upper-half p{
    color: var(--white);
}

section.section-1 .newsletter .lower-half {
    position: relative;
    height: 4rem;
    display: flex;
    flex-direction: row;
}

section.section-1 .newsletter .lower-half .email {
    width: 70%;
}

section.section-1 .newsletter .lower-half .email input {
    padding-left: 1rem;
    padding-right: 0;
    width: 100%;
    height: 100%;
}

section.section-1 .newsletter .lower-half .submit {
    /* padding-left: 1rem; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-orange);
    transition: .3s;
}

section.section-1 .newsletter .lower-half .submit:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

@media (max-width: 800px) {
    section.section-1 .newsletter {
        right: 50%; 
        bottom: 25%;
        transform: translate(50%, 50%);
    }
  }