.page-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 {
  position: absolute;
  top: 15vh;
  z-index: 1;
}

p {
  position: absolute;
  top: 15vh;
  z-index: 1;
}
