.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  padding: 1.5rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s ease;
}

.border-btn:focus {
  outline: none !important;
}

.border-btn:hover {
  background: #266c9250;
}

.border-btn.left {
  position: absolute;
  top: 47%;
  left: 36.5%;
  transform: translateX(-50%); /*Added*/
}

.border-btn.right {
  position: absolute;
  top: 23.5%;
  left: 53.5%;
  transform: translateX(-50%); /*Added*/
}

/* .section-3 h1 {
  text-align: center;
  color: var(--white);
  width: 85%;
  padding-top: 15vh;
  line-height: 1.5;
  z-index: 1;
}

.section-3 h2 {
  display: none;
  text-align: center;
  color: var(--black);
  width: 85%;
  line-height: 1.5;
  z-index: 1;
  font-size: 1.5rem;
}

@media only screen and (min-width: 800px) {
  .section-3 h1 {
    text-align: right;
    padding-top: 25vh;
    padding-right: 4rem;
  }
  .section-3 h2 {
    display: flex;
    text-align: left;
    margin-top: 0;
  }
} */
