.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-1 h1 {
  text-align: center;
  color: var(--white);
  width: 85%;
  padding-top: 10vh;
  line-height: 1.5;
  z-index: 1;
}

.section-1 .content-box-container {
  bottom: 50%;
}

@media only screen and (min-width: 700px) {
  .section-1 {
    align-items: flex-start;
  }

  .section-1 h1 {
    text-align: right;
    width: 90%;
    margin-right: 5vw;
    padding-top: 15vh;
  }

  .section-1 .content-box-container {
    bottom: 45%;
    width: 100%;
  }
}
