.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-5 .content-box-container {
  bottom: 4.5%;
  width: 90%;
}

.section-5 .content-box {
  position: relative;
  right: unset;
  bottom: unset;
  /* transform: translate(-50%, -50%); */
}

.section-5 .content-box h2 {
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--white);
}

@media only screen and (min-width: 700px) {
  .section-5 .content-box-container {
    bottom: 60%;
    padding: 2rem 0 0 0;
    width: 100%;
  }

  .section-5 .content-box {
    margin-right: 65%;
  }
}
