.section-6 {
  width: 100vw;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-x: hidden;
}

/* .section-6 .bg-image {
  height: 100vh;
  z-index: -10;
} */

.section-6 h2,
p,
a,
ul,
li,
label {
  text-align: center;
  color: var(--white);
  z-index: 1;
}

.section-6 h2 {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.5;
}

.section-6 p {
  line-height: 1.5;
  margin-top: 0;
}

.section-6 a {
  color: var(--accent-orange);
}

.section-6 a:hover {
  color: var(--white);
}

.section-6 .history,
.section-6 .contact {
  margin: 0 1rem 0 1rem;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.section-6 .copyright {
  margin-top: 6vh;
}

.section-6 .content-box-container {
  bottom: 47%;
  justify-content: center;
  align-items: center;
}

.section-6 .newsletter {
  height: 5rem;
}

@media only screen and (min-width: 900px) {
  .section-6 {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .section-6 .bg-image {
    height: 60vh;
  }

  .section-6 h2,
  p {
    text-align: left;
    padding-bottom: 0;
  }

  .section-6 .contact h2,
  ul,
  li {
    text-align: right;
  }

  .section-6 li {
    margin-right: -0.2rem;
  }

  .section-6 .history,
  .section-6 .contact {
    width: 40%;
    height: 70%;
  }

  .section-6 .copyright {
    display: none;
  }

  .section-6 .content-box-container {
    bottom: 40%;
    margin-right: 30%;
  }
}
