.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-2 h1 {
  text-align: center;
  color: var(--white);
  width: 85%;
  padding-top: 5vh;
  line-height: 1.5;
  z-index: 1;
}

.section-2 .content-box-container {
  bottom: 15%;
}

.section-2 .content-box {
  position: relative;
  right: unset;
  bottom: unset;
  /* transform: translate(-50%, -50%); */
}

.section-2 .content-box h1 {
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--white);
}


@media only screen and (min-width: 800px) {
  .section-2 h1 {
    text-align: left;
    padding-top: 10vh;
    margin-left: 5vw;
  }

  .section-2 .content-box {
    margin-left: 60%;
  }
}

