.section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-3 h1 {
  top: 15vh;
  z-index: 1;
  color: var(--black);
}

.section-3 p {
  top: 80vh;
  z-index: 1;
  color: var(--black);
  font-weight: 600;
}
