.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.border-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  padding: 1.5rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s ease;
}

.border-btn:focus {
  outline: none !important;
}

.border-btn:hover {
  background: #266c9250;
}

.border-btn.left {
  position: absolute;
  top: 47%;
  left: 36.5%;
  transform: translateX(-50%); /*Added*/
}

.section-3 .tech-image {
  object-fit: contain;
}

.section-3 .content-box-container {
  bottom: 4.5%;
  width: 90%;
}

.section-3 .content-box h2 {
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--white);
}

.section-3 .content-box {
  position: relative;
  right: unset;
  bottom: unset;
  /* transform: translate(-50%, -50%); */
}

@media only screen and (min-width: 1088px) {
  .section-3 .content-box-container {
    bottom: 60%;
    padding: 2rem 0 0 0;
    width: 100%;
  }

  .section-3 .content-box {
    margin-right: 65%;
  }
}

.border-btn.right {
  position: absolute;
  top: 23.5%;
  left: 53.5%;
  transform: translateX(-50%); /*Added*/
}
